@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html, body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color:#333333;
  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.visually-hidden {
  display: none;
}

.page-main, .page-catalog {
  flex-grow: 1;
}

.section-main, .subscribe-window, .page-catalog article{
  text-align: center;
}

.text-block {
  padding: 69px 200px;
  margin-bottom: 25px;
}

.text-block-one {
  padding: 64px 350px;
}

.text-block-two {
  padding: 96px 304px;
}

.text-block p:not(.slogan), .text-block-two p:not(.slogan), .text-block-one p:not(.slogan), article .simple-text p:not(.slogan){
  margin-top: 20px;
}

.text-block-two .active-button{
  margin-top: 54px;
}

.slogan{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.active-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  background: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.active-button:hover, .active-button:focus {
  background: #615048;
}

.active-button:active {
  color: #FFFFFF4D;
  background: #756157;
}

.secondary-button {
  background: #82B3D3;
}

.secondary-button:hover, .secondary-button:focus {
  background: #68A2CA;
}

.secondary-button:active {
  background: #82B3D3;
  color: #FFFFFF4D;
}

.chosen-button {
  background: #7DB54F;
}

.chosen-button:hover, .chosen-button:focus {
  background: #6C9E42;
}

.chosen-button:active {
  color: #FFFFFF4D;
}

.transparent-button{
  background: transparent;
}

.transparent-button:hover {
  opacity: 60%;
}

.transparent-button:focus {
  border: 3px solid #83B3D3;
}

.transparent-button:active {
  color: #FFFFFF4D;
}

.display-button {
  border: 2px solid #E5E5E5;
}

.display-button:hover, .display-button:active {
  border: 2px solid #000000;
}

.display-button:focus {
  border: 2px solid #68A2CA;
}

.grid-block {
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}

.advantage-list .grid-block::after {
  content: "";
  position: absolute;
  left: 170px;
  bottom: 50%;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
}

.advantage-list .third-block.grid-block::after{
  background-color: rgba(255, 255, 255, 0.3);
}

.img-block {
  width: 800px;
  height: 385px;
  padding: 0;
}

.grid-block .slogan {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.first-block {
  background-color: #83B3D31F;
}

.second-block {
  background-color: #83B3D333;
}

.third-block, .third-block .slogan {
  background-color: #82B3D3;
  color: #FFFFFF;
}

article {
  background-color: #FFFFFF;
  background-position: center;
  padding: 96px 258px 104px 258px;
  width: 1200px;
  height: 415px;
  box-sizing: border-box;
}

article input {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 20px;
  width: 412px;
  height: 28px;
  background-color:#F2F2F2;
  border: none;
}

.subscribe-form{
  display: flex;
  flex-wrap: nowrap;
}

.simple-text{
  padding: 0 104px;
  margin-bottom: 54px;
}

.page-main article {
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 0.5);
  background-image: url("/images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main article .slogan, .page-catalog .filter .slogan{
  color: #FFFFFF;
}

.filter {
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 0.5);
  background-image: url("/images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 23px;
  padding: 35px 70px 70px 70px;
}

.filter form {
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  border: none;
  align-self: end;
  padding: 0;
  margin: 0;
}

.filter .price-window input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 20px;
  width: 120px;
  height: 8px;
}

.filter label {
  display: block;
}

.button-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-block .active-button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}

legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.price-window {
  display: flex;
}

.price-window label {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.filter p{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: auto;
}

.breadcrumbs {
  margin-right: auto;
}

.breadcrumbs a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 10px;
}

.list-option {
  padding: 50px 70px 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-order {
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  display: inline-block;
}

.list-order:hover, .list-order:focus {
  border: 3px solid #83B3D3;
}

.search-results {
  font-size: 18px;
  line-height: 21px;
  padding: 50px 70px 60px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  position: relative;
}

.search-results::after {
  content: "";
  position: absolute;
  left: 70px;
  bottom: 30px;
  width: 1600px;
  height: 2px;
  background-color:#E6E6E6;
}

.search-item {
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 150px;
  row-gap: 16px;
  grid-template-areas:
  "img img"
  "name name"
  "info info"
  "link button"
  "star digit";
}

.search-item img{
  grid-area: img;
  grid-column: span 2;
  object-fit:contain;
}

.search-item .slogan {
  margin: 0;
  grid-area:name;
  text-transform: capitalize;
  grid-column: span 2;
}

.house-info {
  grid-area: info;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.search-item a {
  background-color: #756157;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 16px;
  box-sizing: border-box;
  display: inline-block;
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  grid-area:link;
  justify-self: start;
}

.search-item .active-button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  grid-area:button;
  justify-self: end;
}

.star-meter {
  color: #68A2CA;
  font-size: 25px;
  grid-area:star;
  justify-self: start;
}

.digit-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  grid-area:digit;
  justify-self: end;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 0 60px 70px;
}

.pagination a, .pagination p{
  display: inline-block;
  text-align: center;
  font-weight: 700;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 60px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 12px 0;
}

.pagination a:hover, .pagination a:focus {
  background-color: #68A2CA;
}

.pagination a:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination .current-link a{
  background-color: #F2F2F2;
  color: #333333;
}

.pagination p{
  background-color: #ffffff;
  color: #333333;
}

.page-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 70px;
  color: #000000;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.navigation {
  margin-right: auto;
}

.navigation a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  padding: 20px 16px;
}

.navigation .current-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.user-menu {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.user-menu a{
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.page-header .active-button {
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
}

.main-logo {
  display: block;
  align-self: start;
  height: 64px;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  flex-grow: 0;
  flex-shrink: 0;
}

address a {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

address a:hover {
  color: #756157;
}

address a:focus {
  color: #756157;
}

address a:active {
  color: #7561574D;
}

.logo {
  color: #000000;
}

.logo:hover, .logo:focus{
  color: #756157;
}

.logo:active {
  color: #7561574D;
}

.link-item {
  padding: 10px;
  margin: 0;
}

.link-item a:hover {
  color: #68A2CA;
}

.link-item a:focus {
  color: #68A2CA;
}

.link-item a:active {
  color: #68A2CA4D;
}
